<div class="full-page-container" id="container">
    <div class="search-container">
        <input type="text" placeholder="Search word" (input)="onSearchChange($event.target.value)">
    </div>
    <div class="text-wrapper">
        <div class="time-container">
            <p class="time">{{current_time | date : 'shortTime'}}</p>
            <p class="date">{{current_time | date : 'longDate'}}</p>
        </div>
        <p class="hint">Here's a new word for you.. </p>
        <div>
            <span class="word">{{selected_word.base}}</span>
            <span class="new-word fa fa-refresh" (click)="getNewWord()"></span>
        </div>
        <div *ngFor="let key of keys_list">
            <p *ngIf="key !== 'base'">
                <span class="hint">{{key}}: </span>
                <span>{{selected_word[key]}}</span>
            </p>
        </div>
    </div>
    <div *ngIf="search_text && filtered_data && filtered_data.length" class="filtered-list">
        <ul>
            <li *ngFor="let datum of filtered_data">
                <p>{{ datum.base }}</p>
                <div *ngFor="let key of keys_list">
                    <p *ngIf="key !== 'base'">
                        <span class="hint">{{key}}: </span>
                        <span>{{datum[key]}}</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>